In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats


import os, types
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [2]:
df = pd.read_csv("data/hotel_booking-naif.csv")
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,arrival_date,total_nights,total_children
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,Transient,0.0,0,0,Check-Out,2015-07-01,2015-07-01,0,0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0,Transient,0.0,0,0,Check-Out,2015-07-01,2015-07-01,0,0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,Transient,75.0,0,0,Check-Out,2015-07-02,2015-07-01,1,0
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,Transient,75.0,0,0,Check-Out,2015-07-02,2015-07-01,1,0
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,Transient,98.0,0,1,Check-Out,2015-07-03,2015-07-01,2,0

In [3]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'arrival_date',
       'total_nights', 'total_children'],
      dtype='object')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 34 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119390 non-null  int64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         119390 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           119390 non-null  int64
 24  days_in_waiting_list            119390 non-null  int64
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
 31  arrival_date                    119390 non-null  object
 32  total_nights                    119390 non-null  int64
 33  total_children                  119390 non-null  int64
dtypes: float64(1), int64(20), object(13)
memory usage: 31.0+ MB

In [4]:
df['hotel'].value_counts()

City Hotel      79330
Resort Hotel    40060
Name: hotel, dtype: int64

In [3]:
#handling categorical features

le = preprocessing.LabelEncoder()
df['hotel'] = le.fit_transform(df['hotel'].astype('str'))
df['arrival_date_month'] = le.fit_transform(df['arrival_date_month'].astype('str'))
df['meal'] = le.fit_transform(df['meal'].astype('str'))
df['country'] = le.fit_transform(df['country'].astype('str'))
df['market_segment'] = le.fit_transform(df['market_segment'].astype('str'))
df['distribution_channel'] = le.fit_transform(df['distribution_channel'].astype('str'))
df['reserved_room_type'] = le.fit_transform(df['reserved_room_type'].astype('str'))
df['assigned_room_type'] = le.fit_transform(df['assigned_room_type'].astype('str'))
df['deposit_type'] = le.fit_transform(df['deposit_type'].astype('str'))
df['customer_type'] = le.fit_transform(df['customer_type'].astype('str'))
df['reservation_status'] = le.fit_transform(df['reservation_status'].astype('str'))
df['reservation_status_date'] = le.fit_transform(df['reservation_status_date'].astype('str'))
df['arrival_date'] = le.fit_transform(df['arrival_date'].astype('str'))

In [4]:
#The column "is_canceled" is our target variable, we set y as this column
X = df.drop('is_canceled', axis = 1)

In [5]:
y = df["is_canceled"]

In [6]:
#We use the train_test_split function to create the appropriate train and test data for our features
# ("X_train" and "X_test" respectively) and target data ("Y_train" and "Y_test").
#We are specifying our test data to be 20% of the total data. We are also providing a seed to be able to reproduce this split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

In [9]:
X_train.shape

(83573, 33)

In [10]:
X_test.shape

(35817, 33)

In [7]:
#Standardisation

scaler = StandardScaler()

In [8]:
#We fit the scaler passing the training data but also request it transforms the data and returns it to a variable named "train_scaled"
train_scaled = scaler.fit_transform(X_train)

In [9]:
#We then transform our test data with the same fitted scaler
test_scaled = scaler.transform(X_test)

In [10]:

rf_model = RandomForestClassifier()

In [16]:
rf_model.fit(train_scaled, y_train)

RandomForestClassifier()

In [17]:
#Model Evaluation

accuracy_score(y_train, rf_model.predict(train_scaled))

1.0

In [18]:
accuracy_score(y_test, rf_model.predict(test_scaled))

1.0

In [11]:
# prepare the cross-validation procedure
cv = KFold(n_splits=5, random_state=1, shuffle=True)

In [12]:
scores = cross_val_score(rf_model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
scores

array([0.99995812, 1.        , 1.        , 0.99995812, 0.99995812])